* {
    border-radius: 6px;
    cursor: pointer;
}


header h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    color: #ff6600;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
}

#addCatBtn {
    float: right;
    /* يخليه على اليمين */
    margin: 10px;
    /* مسافة من الحواف */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    /* يخلي العنوان على اليسار والزر على اليمين */
    align-items: center;
    padding: 10px 20px;
}





#addCatBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    background-color: #e65c00;
}






.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.card-body {
    padding: 15px;
}


.tag {
    display: inline-block;
    background: #e0f2fe;
    color: #0369a1;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 8px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}



.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}


.actions {
    display: flex;
    justify-content: space-between;
}


.cancel {
    background: #e5e7eb;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.card-actions button {
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}


.danger {
    background: #ef4444;
    color: white;
}

.pagination button {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
}